<h1>Converter</h1>
<div class="container">
    <div class="col-md-3">
        <button class="btn button-primary">
            <f:link.action controller="Mass" action="convert">  Masseumrechner
            </f:link.action>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn button-primary">
            <f:link.action controller="Pressure" action="convert"> Druckumrechner
            </f:link.action>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn button-primary">
            <f:link.action controller="Dimension" action="convert">Entfernungsumrechner
            </f:link.action>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn button-primary">
            <f:link.action controller="Distance" action="convert">  Geschwindigkeitsumrechner
            </f:link.action>
        </button>
    </div>
</div>
<div class="container" id="Kmh">
    <f:form action="count" id="distance" name="distance">
        <div class="container">
            <div class="col-md-3">
                <label>Kilometer/Stunde (km/h)</label>
                <f:form.textfield type="text" value="{kilometerStunde}" name="kilometerStunde"
                                  property="kilometerStunde"/>
            </div>
            <div class="col-md-3">
                <label>Kilometer/Minute (km/min)</label>
                <f:form.textfield type="text" value="{kilometerMinute}" name="kilometerMinute"
                                  property="kilometerMinute"/>
            </div>
            <div class="col-md-3">
                <label>Meter/Minute (m/min)</label>
                <f:form.textfield type="text" value="{meterMinute}" name="meterMinute" property="meterMinute"/>
            </div>
            <div class="col-md-3">
                <label>Knoten (kn)</label>
                <f:form.textfield type="text" value="{knoten}" name="knoten" property="knoten"/>
            </div>
            <div class="col-md-3">
                <label>Meilen/Stunde (mph)</label>
                <f:form.textfield type="text" value="{meilenStunde}" name="meilenStunde" property="meilenStunde"/>
            </div>
            <div class="col-md-3">
                <label>Meilen/Minute (mpmin)</label>
                <f:form.textfield type="text" value="{meilenMinute}" name="meilenMinute" property="meilenMinute"/>
            </div>
            <div class="col-md-3">
                <label>Fuss/Stunde (fph)</label>
                <f:form.textfield type="text" value="{fussStunde}" name="fussStunde" property="fussStunde"/>
            </div>
            <div class="col-md-3">
                <label>Fuss/Minute (fpmin)</label>
                <f:form.textfield type="text" value="{fussMinute}" name="fussMinute" property="fussMinute"/>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-3 pull-right">
            <f:form.submit value="Calculate" class="btn btn-primary"/>
        </div>
    </f:form>
</div>